<!DOCTYPE html>
<html>
<head>
	<title>Basic Layout</title>
	<style type="text/css">

	#container {
		border: 2px solid red;
		width: 1000px;
		height: 1200px;
		margin: auto;
	}

	#header {
		width: 1000px;
		height: 200px;
		background: pink;
	}

	#left {
		width: 400px;
		height: 800px;
		background: green;
		float: left;
	}

	#right {
		width: 600px;
		height: 800px;
		background: black;
		float: right;
	}

	#footer {
		width: 1000px;
		height: 200px;
		background: yellow;
		clear: both;
	}

	</style>
	
	
</head>
<body>
<div id="container">
	<div id="header"></div>
	<div id="left"></div>
	<div id="right"></div>
	<div id="footer"></div>
	
</div>



</body>

</html>
